/* style.css */

.suggest-container {
  position: relative;
  width: 100%;
  font-family: 'Muli', sans-serif;
}

.suggest-input {
  width: 100%;
  height: 32px;
  box-sizing: border-box;
  padding: 0 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
}

.suggest-input:focus {
  outline: none;
}

.suggest-box {
  position: absolute;
  padding-left: 0;
  width: 100%;
  box-sizing: border-box;
  top: 100%;
  margin-top: -2px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  z-index: 9999;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0);
  max-height: 90vh;
  overflow: auto;
}

.hit-count {
  padding: 6px 12px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #757575;
}

.suggestion-item {
  padding: 6px 12px;
  cursor: pointer;
  display: flex;
  gap: 5px;
  font-size: 1rem;
  line-height: 1.6;
}

.label-container {
  align-content: center;
}

.suggestion-item.selected {
  background-color: #34508a; /* 選択時の背景色を設定 */
  color: #212529; /* 選択時のテキスト色を調整 */
  .label-id {
    color: #fff;
  }
  .main-name {
    color: #f2d2d7;
  }
  .synonyms {
    color: #fff;
  }
}

.main-name {
  color: #3777b5;
}

.synonyms {
  color: #000;
}

.suggestion-hint {
  color: #f8516d;
}

.highlight {
  font-weight: bold;
}
